{
  "extends": "react-app",
  "rules": {
    "import/order": [
      "error",
      {
        "newlines-between": "always-and-inside-groups"
      }
    ],
    "no-restricted-imports": [
      "error",
      {
        "paths": [
          {
            "name": "styled-components",
            "message": "Please import from styled-components/macro."
          }
        ],
        "patterns": ["!styled-components/macro"]
      }
    ]
  }
}
